torch
evaluate
accelerate>=0.27.2
bitsandbytes
datasets==2.13.1
transformers
transformers_stream_generator
peft
trl
scipy
tqdm
fire
nltk
pyserini==0.21.0
scikit-learn
jsonlines
sentence_transformers
tf-keras
tensorflow
langdetect
optuna
ir_datasets
pot
tiktoken
einops
ujson
GitPython
omegaconf
faiss-cpu